h1 {
  color: black;
  border: 2px black solid;
  /* background-color: black; */
}

/* .diagnosis-categories, */
#diagnosis-category,
#diagnosis-videos {
  display: flex;
  cursor: pointer;
  width: 100vh;
  overflow: scroll;
}
.diagnosis-category {
  border: 1px solid;
  padding: 5px 10px;
}
.diagnosis-video-thumbnail {
  cursor: pointer;
}
.diagnosis-video.active,
.diagnosis-category.active {
  box-shadow: 1px solid red;
}
